
@{
    ViewData["Title"] = "Deshabilitada";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<br />
<h1>Su cuenta ha sido <b>deshabilitada</b>, hable con el administrador</h1>

