@model ICollection<Proyecto_SW_II.Models.Pelicula>
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Home Page";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<body style="background-color:#5cb85c">

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="max-width:100%; min-height:400px; background-color: #a1cb58;">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

            <div class="item active">
                <div class="row flex-nowrap">
                    <div class="col"><img src="~/Images/El_Reino_Prohibido.jpg" alt="El Reino Prohibido" style="max-width:800px; max-height: 400px;"></div>
                    <div class="col"><img src="~/Images/Boyka.jpg" alt="Undisputed II" style="max-width:800px; max-height: 400px;"></div>
                    <div class="col"><img src="~/Images/Clint.jpg" alt="La muerte tenia un precio" style="max-width:800px; max-height: 400px;"></div>
                </div>
            </div>

            <div class="item">
                <div class="row flex-nowrap">
                    <div class="col"><img src="~/Images/Lilo.jpg" alt="Lilo y Stitch" style="max-width:800px; max-height: 400px;"></div>
                    <div class="col"><img src="~/Images/Rey_Leon.jpg" alt="El Rey León" style="max-width:400px; max-height: 400px;"></div>
                    <div class="col"><img src="~/Images/coco.jpg" alt="Coco" style="max-width:800px; max-height: 400px;"></div>
                </div>
            </div>
            <div class="item">
                <div class="row flex-nowrap">
                    <div class="col"><img src="~/Images/lincoln.jpg" alt="Lincoln" style="max-width:800px; max-height: 400px;"></div>
                    <div class="col"><img src="~/Images/Franco_documental.jpg" alt="Franco" style="max-width:800px; max-height: 400px;"></div>
                    <div class="col"><img src="~/Images/kurt_cobain.jpg" alt="Escopeta" style="max-width:400px; max-height: 400px;"></div>
                </div>
            </div>

        </div>
        <!-- Controls -->
        <a class="left carousel-control flex-nowrap" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control flex-nowrap" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div>
        <h1>Peliculas de esta semana</h1>
        @if(!Model.Count.Equals(0))
        {
            <div class="column" style="padding-right: 20px;">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <div class="row" style="background-color: #a1cb58;">
                        @for (int j = 0; j < 3; j++)
                        {
                            if (i >= Model.Count()) break;
                            <div class="col-sm-4 border border-dark d-flex align-items-center flex-column" style="padding: 12px;">
                                <div class="mb-auto p-2">
                                    @if (Model.ElementAt(i).Portada.Equals("portada_no_disponible.jpg"))
                                    {
                                        <img src="~/Images/portada_no_disponible.jpg" alt="No disponible" style="max-width:200px; max-height: 400px;" />
                                    }
                                    else
                                    {
                                        string path = Url.Content("~/Images/" + Model.ElementAt(i).Portada);
                                        <img src="@path" style="max-width:200px; max-height: 400px;" />
                                    }
                                </div>
                                <div class="p-2">
                                    <h2>@Model.ElementAt(i).Titulo</h2>
                                </div>
                            </div>
                            i++;
                        }
                    </div>
                    i--;
                }
            </div>
        }
        else
        {
            <p style="font-size: 24px">No hay peliculas destacadas esta semana</p>
        }
    </div>
    <br /><br /><br /><hr />
</body>
